/* Index */
.landing p {
  width: 50%;
}
/* Home */
.img-part img {
  height: 200px;
}
.small-intro {
  margin-bottom: 70px;
  width: 60%;
}
.intro-wrapper {
  padding-bottom: 20px;
}
.nav-my-details {
  flex-grow: 1;
  padding: 70px;
}
.description-part {
  padding: 40px;
}
.project-name h2 {
  margin: 0 0 30px 0;
}

@media (max-width: 800px) {
  .project-description {
    flex-direction: column;
  }
}
/* Home Responsive for Tablets: DONE */

/* About */
.about-text-content {
  width: 100%;
}
.about-texts-wrapper {
  padding-bottom: 0;
}
@media (max-width: 768px) {
  .about-texts-wrapper {
    padding: 50px 0;
  }
}

/* Project */
.project-content-container,
.project-tech-container,
.project-mobile-container,
.next-project {
  padding: 50px 100px;
}
.project-content-container h1,
.project-tech-container h1,
.project-mobile-container h1 {
  width: 100%;
  font-size: 30px;
}
.project-content-container p,
.project-tech-container p,
.project-mobile-container p {
  width: 60%;
}
.project-img-3-4 {
  padding: 0 50px;
}
.next-project h3 {
  font-size: 24px;
}
.next-project a {
  font-size: 30px;
}
.next-project p {
  font-size: 14px;
}
/* Project Responsive for Tablet: DONE*/
.contact-wrapper {
  padding: 50px 100px;
}
